body > nav {
  padding: 0 5px !important;
  margin: 0;
  border-bottom: 1px solid rgba(#000,0.3);

  a {
    display: inline-block;
    vertical-align: bottom;
    padding: 0.3em 0.5em;
    margin: 0;
    text-decoration: none;
    border: 1px solid rgba(#000,0.3);
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #CCC;

    &.selected {
      background-color: transparent;
      border-bottom: 1px solid #F2F2F2;
      padding-bottom: 0.5em;
      position: relative;
      top: 1px;
    }
  }
}

.nav-actions {
  border: 1px solid rgba(#000,0.3);

  a {
    padding: 0.3em 0.5em;
    display: inline-block;
  }

  a + a {
    border-left: 1px solid rgba(#000,0.3);
  }
}